.home {
    display: flex;
}

.home-content-heading {
    text-align: center;
}

.line {
    background-color: lightgrey;

    margin-left: 40px;
    margin-right: 40px;
    height: 1px;
    margin-bottom: 30px;
}

.home-page {
    display: flex !important;
    flex-wrap: wrap !important;
    align-items: center !important;
    justify-content: center !important;
    gap: 20px !important;
    margin-bottom: 50px;
}
